.main {
	font-family: Arial, Helvetica, sans-serif;
	border: 1px solid #D3D3D3;
	max-width: 320px;
	-webkit-box-shadow: 10px 8px 9px -5px rgba(204,204,204,1);
	-moz-box-shadow: 10px 8px 9px -5px rgba(204,204,204,1);
	box-shadow: 10px 8px 9px -5px rgba(204,204,204,1);
}

h3 {
	font-size: 25px;
	padding-left: 10px;
	padding-right: 10px;
}

img {
	margin-left: 10px;
	margin-right: 10px;
	border: 1px solid #D3D3D3;
	/*set image to proportionally resize*/
	height: auto;
	width: auto;
	max-width: 300px;
	max-height: 300px;
}

.info {
	border: 1px solid #D3D3D3;
	max-width: 280px;
	padding: 10px;
	margin: 10px;
}

.fact {
	font-style: italic;
}

.list {
	/*to show only bold headings not as italic*/
	font-style: normal; 
	font-weight: bold;
}

ul {
	list-style-type: none;
	padding-left: 2em;
	text-indent: -2em;
}


